{% extends 'FinishmeBundle::layout.html.twig' %}

{% block title %}Projects{% endblock %}
{% block content %}
<h1>Project list</h1>
<p><a href="{{ path('project_add') }}" class="btn">{{ 'plus-sign'|icon }} Add a project</a></p>
<table class="records_list table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Url</th>
            <th>Founded on</th>
            <th>Added on</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.url }}</td>
            <td>{% if entity.foundedOn %}{{ entity.foundedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p><a href="{{ path('project_add') }}" class="btn">{{ 'plus-sign'|icon }} Add a project</a></p>
{% endblock %}